* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


.App {
  /*De esta manera agregamos un fondo ala app completa*/
  background-image: url("https://midu.dev/images/wallpapers/una-taza-de-javascript.png");
  height: 100vh;
  background-size: cover;
}

@media (max-width: 700px) {
  .App {
    /* Para no repetir las imagenes  */
    background-repeat: no-repeat;
    /* De estam manera centramos el fondo a telefonos moviles*/
    background-position: center center;
    height: 100vh;
  }


}